.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media screen and (max-width: 1026px) {
    nav .navbar-brand {
        font-size: 3rem;
    }

    nav .nav-item {
        font-size: 2rem;
    }

    .card .card-title {
        font-size: 3rem;
    }

    .card h5 {
        font-size: 2rem;
    }

    .card .card-body {
        font-size: 2rem;
    }

    form input[value] {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .form-control{
        font-size:2rem;
    }

    label {
        font-size:2rem;
    }

}

a {
    text-decoration: none !important;
}

@media screen and (min-width: 992px) and (max-width: 1026px) {
    .screenIpadPro {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
}